<a href="https://colab.research.google.com/github/nesara-ganesh/Fastrack-Python/blob/main/H1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

The main idea of this assignment is explore 
1.   Basic Operation 
           - print statement 
           - how to get help 
           - declare variables 
           - assign values
2. Working with Integers 
           - operators 
           - functions 
3. Working with Strings 
           - operators 
           - functions 
4. Handling Errors 
           - Syntax 
           - Run Time 
           - Logical

In [ ]:
# print your name 

print ("Nesara G N")

# print your hobbies 

print ("Chess, Cricket, Cooking")

# print your registration number

print ("211047005")

In [ ]:
# how to get more information about print functions 

help(print)


# how to get more infromation about math module 
import math
help(math)


# how to get more information about symbols 

help(sys)

In [ ]:
# store your role model name in the variable "role"

role = input("Enter your role model name.\n")

# describe your role model in the variable "role_desc"

role_desc = input ("Describe your role model.\n")

# store the numeric value in the variable "my_values"

my_values = input ("Enter a numeric value")



print (role)
print (role_desc)
print (my_values)

In [ ]:
# you can perform arithemetic opeartions using python arithmetic opeartors 
# To perform arithmetic opeations 
# If your run a 1000 Kilo Meter race in 143 minutes 30 seconds, what is your average time per mile? What is your average speed in miles per hour? 
# Hint : 1.61 kilometers in a mile

# distance covered in miles == kms / 1.61
# average speed per mile = time / distance covered
# average speed in mph = distance in miles / time in hours

kms = 1000
time_in_minutes = 143.5
miles = kms / 1.61
average_time_per_mile = time_in_minutes / miles
average_mph = miles*60/time_in_minutes

print (average_time_per_mile)
print (average_mph)

In [ ]:
# Suppose the cover price of a python book  is  577.95, but bookstores get a 40% discount.
# Shipping costs  150 for the first copy and 50 Rupees for each additional copy. What is the total wholesale cost for 60 copies?

# discount of 40% -> Price*(1-(discout/100))
price = 577.95
discount = 40
price_after_discount = price * (1-discount/100)

#Shipping cost = First copy shipping cost + (number of additional copies)(Additional copies shipping cost)
number_of_copies = 60
first_copy_shipping = 150
additional_copy_shipping = 50
shipping_cost = first_copy_shipping + (number_of_copies -1) * additional_copy_shipping

# Total cost = (number of copies)(price after discount) + shipping cost
total_cost = number_of_copies * price_after_discount + shipping_cost


print ("Price after discout per each copy: ", price_after_discount)
print ("\nTotal Shipping cost: ", shipping_cost)
print ("\nTotal cost: ", total_cost)

In [ ]:
# write a python code to convert Centrigrade to Fahrenheit , get the value Centrigrade from the user. 
# Sample Input:
# Enter Centrigrade:  23.5 

centigrade = int (input("Enter the temperature in centigrade: \n"))
fahrenheit = centigrade * 9 / 5 +32
print("Temperature in Fahrenheit is: ", fahrenheit)

In [ ]:
# write a python code to convert Fahrenheit to Centrigrade, get the value Fahreheit from the user. 
# Sample Input:
# Enter Fahreheit:  23.5 

fah = int(input("Enter the temperature in Fahrenheit: \n"))
celcius = (fah - 32) * (5 / 9)
print ("Temperature is Centigrade: ", celcius)

In [ ]:
# Write a python program of your choice which uses arithmetic operations (use both operators and functions ) with meaningful application 

import math

radius = int (input("Enter the radius of the sphere: \n"))

volume_of_sphere = (4 * math.pi * radius ** 3 )/ 3 

print (volume_of_sphere)

In [ ]:
# create a variable called my_neg to store  negative value 
my_neg = int( input("Enter the negative number:\n"))


# create a variable called my_float to store float value 
my_float = float (input("Enter the float value:\n"))

# create a variable called my_complex to store complex value 
import cmath
x = int(input ("Real part of the complex number is: \n"))
y = int(input ("Imagiary part of the complex number is: \n"))
a = complex(x,y)


print (my_neg)
print (my_float)
print (a)
# Note: there are various method to create complex numbers 

# perform mathematical operations on complex numbers

# converting complex number into polar using polar()
w = cmath.polar(a)

# converting complex number into rectangular using rect()
V = cmath.rect(3.605551275463989, 0.982793723247329)

print (w)
print (V)

In [ ]:
# create a variable called break and assign it a value of 15. what is the response and find the reason behind the behaviour.  
# break = 15 will give syntax error as the keywork break is system assigned and predefined

In [ ]:
result ="hello world"
print (result[0])

# print "result[0]"  no paranthesis
# print ("result[0]") result[0] as the variable is given inside double quotes
# print (result[0]) h the 0th element of the string

In [ ]:
# String operations 
# Write a program to get the name of the guest , then greet the user using their name as part of greeting 
# Sample Input 
# Enter the Guest Name: Writer Sudha Murthy 
# Sample Output 
# I am extremly hounor to welcome Sudha Murthy to ....... 

# Asking for the name of the guest and storing in name
name = input ("Enter the name of the guest: \n")

# printing the greeting note with the name of the guest
print("I am extremely honoured to welcome", name, "to .......")

In [ ]:
quotes  = "Don't judge each day by the harvest you reap but by the seeds that\
 you plant."

# count the total number of characters in the variable quotes 
len (quotes)

# convert the smaller case to upper case, upper case to smaller case 
print (quotes.swapcase())

# check whether the numeric value is present or not 
print (quotes.isalnum())

# Check whether the word "harvest" present in the string or not 
print (quotes.index("harvest"))

# replace the (.) with (!) 
print (quotes.replace(".", "!"))

In [ ]:
# Explore any 5 string build-in functions which is not discussed in the class
# provide with suitable examples 
string = input ("Enter the string for operations:\n")
print (string.isprintable())	#Returns True if all characters in the string are printable
print (string.capitalize())	#Converts the first character to upper case
print (string.casefold())	#Converts string into lower case
print (string.isdigit())	#Returns True if all characters in the string are digits
print (string.isdecimal())	#Returns True if all characters in the string are decimals

In [ ]:
num_int =55
num_str ="34"

int(num_str) # the type casted value is not stored to any variable
#total = num_int + num_str #unsupported operand type(s) for +: 'int' and 'str'
total = num_int + int(num_str) # type casting "34" to 34 only for the operation


print (total)
print (type(num_int))
print (type(num_str))

In [ ]:
#Find potential sources of runtime errors in this code snippet:
import math

dividend = float(input("Please enter the dividend: "))
divisor = float(input("Please enter the divisor: "))

quotient = dividend / divisor
#quotient_rounded = math.round(quotient) # math.round does not exist round is built in function which has to be used without math.
quotient_rounded = round(quotient)  # rounds of to higher integer value

print (quotient_rounded)

In [ ]:
# print the quotes : Don't judge each day by the harvest you reap but by the seeds that you plant.
# Example for syntax Error 

# primt Don't judge each day by the harvest you reap but by the seeds that you plant  

# Spelling error in print 
# Braces are missing 
# Quotes are missing


print ("Don't judge each day by the harvest you reap but by the seeds that you\
 plant")

In [ ]:
# print the Quotes :Don't judge each day by the harvest you reap but by the seeds that you plant.

# Print ('Don't judge each day by the harvest you reap but by the seeds that you plant')

# P is in uppercase
# Since there is single inverted comma (apostrophe) in the quote, we should use double inverted comma in the beginning and end of the quote


print ("Don't judge each day by the harvest you reap but by the seeds that you\ 
plant")

In [ ]:
# identify the error, label the type of error and correct the error 

#class ="plant" 
# Syntax error :  class is a predefined built in keyword used to define a class\
# hence it cannot be used as a variable
# storing any value for class keyword is prohibited
crop_class = "plant"

#crop name ="Brinjal"
# Syntax Error : space in variable name is prohibited
crop_name = "Brinjal"


# yeid = 20kg 
#IndentationError: unexpected indent
#yeid = 20kg
#SyntaxError: invalid syntax
yeild_in_kg = 20

# print name of the class, crop name and yeid 

print ("Crop Class is:", crop_class,"\nCrop name is:",crop_name,"\nYield in \
kgs:",yeild_in_kg)


x=10
#print (X)
# NameError: name 'X' is not defined as x and X are different
print("\n\nValue of x is",x)
# print the value of x

In [ ]:
# Find the errors in the coding and correct 
# formula to convert centrigrade to fahr


C = 21; F = 9/5*C + 32

#C = 21.0; F = (9/5)*C + 3 #logical error 9/5 * c + 32 and in here only + 3 is used
C = 21.0; F = (9/5)*C + 32

In [ ]:
#Explain why the code is not working 

#c= a+ b 
#a =10 
#b = 5 

# In the above code snipped the error is Name error
# The variables a and b are defined after the call for the variable
# Calling the variables after the declaration eliminates the error

a =10 
b = 5
c= a+ b 

print(c)

In [ ]:
# Find the bugs in the below code, correct the mistakes and comment suggestions 
from math import pi
h = 5.0 # height
B = 2.0 # base
# r = 1.5 radius
#NameError: name 'r' is not defined
r = 1.5 #radius

area_parallelogram = h*b
#  print 'The area of the parallelogram is %.3f' % area_parallelgram 
#indentation error  unexpected indent
#SyntaxError: Missing parentheses in call to 'print'.
#NameError: name 'area_parallelgram' is not defined
print ('The area of the parallelogram is %.3f' % area_parallelogram)


area_square = b**2
#  print 'The area of the square is %g' % area_square 
#indentation error  unexpected indent
#SyntaxError: Missing parentheses in call to 'print'.
print ('The area of the square is %g' % area_square)


area_circle = pi*r**2
#  print 'The area of the circle is %.3f' % area_circle 
#indentation error  unexpected indent
#SyntaxError: Missing parentheses in call to 'print'.
print ('The area of the circle is %.3f' % area_circle)


volume_cone = 1.0/3*pi*r**2*h
#  print 'The volume of the cone is %.3f' % volume_cone 
#indentation error  unexpected indent
#SyntaxError: Missing parentheses in call to 'print'.
print ('The volume of the cone is %.3f' % volume_cone)

In [ ]:
# This code shows the use math module 
# Run time error and Logical Error 

from math import sin
r= sin(c)

x=2.4
y = 2.5 + 3j
y_new = abs(y)
#print(y_New)
# NameError: name 'y_New' is not defined declared variable is y_new
print(y_new)

math.sin(x)
#math.sin(y)
# TypeError: can't convert complex to float have to use y_new
math.sin(y_new)

In [ ]:
print("Hello, World!")
#print(5 + 
# SyntaxError: unexpected EOF while parsing      
print (5 + 5)
print("All finished!")

In [ ]:
# Print the statement, Kindly help me!
#print "Kindly help me!"
# SyntaxError: Missing parentheses in call to 'print'.
print ("Kindly help me!")

In [ ]:
# print the value of the course 
course = "Programming with Python"
print ("course") #line 1 of output
# Using the variable name course inside quotes makes it a string
print (course)

In [ ]:
#store the size of the land in the variable size  in square feet 
size = 200 
#store the income as in
#in= 9000 
# cant use as it is system defined keyword should alter the keyword
in_ = 9000
#print the value of  both size and income 
print ("Size of the land in square feet: ",size,"\nIncome: ",in_)

cropName="Drumstick"
#year@2021 = 'Drumstick'
#SyntaxError: can't assign to operator '@' should not be present in a variable name
year_2021 = 'Drumstick'
print (cropName)
print (year_2021)

In [ ]:
#print ('Don't eat those cookies before dinner.') #SyntaxError: invalid syntax  Double quotes to be used
print ("Don't eat those cookies before dinner.")

In [ ]:
#print ('Hello \t \t \t world ) #SyntaxError: EOL while scanning string literal quotes not ending

print ('Hello \t \t \t world')

In [ ]:
#print ('I like Python Programming!") #SyntaxError: EOL while scanning string literal Mismatched type of quotes
print ('I like Python Programming!')

In [ ]:
#print ("The first program in any programming language is "Hello World".") #SyntaxError: invalid syntax Required used of trile quote marks as there is double quote in the sentence
print ("""The first program in any programming language is "Hello World".""")

In [ ]:
#print (cropname) # NameError: name 'cropname' is not defined 
#either define the variable or use quote marks if the word has to be printed
print("cropname")

cropname = "Tomato"
print (cropname)

In [ ]:
# find the bug
# 1/2 #IndentationError: unexpected indent
1/2

In [ ]:
profit = 1000
#increment profit by 1
#profit++ #SyntaxError: invalid syntax ++  is not valid in python should use +=
profit += 1
print (profit)

In [ ]:
import math
#print log(10) #SyntaxError: invalid syntax should use math.log to call the function 
# paranthesis is missing in print statement
print (math.log(10))

In [ ]:
#print math.sin(2) #SyntaxError: invalid syntax  #missing paranthesis
print (math.sin(2))

In [ ]:
num_int =55
num_str ="34"
#total = num_int + num_str #TypeError: unsupported operand type(s) for +: 'int' and 'str' 
#should type convert
total = num_int + int(num_str) # for operation
print (type(num_str))

num_str = int (num_str) # for type casting the variable

print (total)
print (type(num_int))
print (type(num_str))

In [ ]:
# Trying to print the multiplication entry, but it throws error 
#5*6 =30 
#SyntaxError: can't assign to operator 
# Above snippet has assignment operator to a validation statement
5*6 == 30

In [ ]:
# Trying to find the round of 10.2 
#round 10.2 #SyntaxError: invalid syntax 
round (10.2) # Appropriate syntax

In [ ]:
#round("10.2") #TypeError: type str doesn't define __round__ method 
# round() uses only float input
round (10.2)

In [ ]:
# Trying to calculate 2 to the power of 5 

#pow(2**5) #TypeError: pow expected at least 2 arguments, got 1
#either should use
2**5
#or
pow(2,5)

In [ ]:
#Trying to multiply 5 
#5 X 5  # SyntaxError: invalid syntax
#for multiplication use *
5*5

In [ ]:
# Trying to print the text message Hello 

#Hello  #NameError: name 'Hello' is not defined
#print statement is not used to get the output
print("Hello")

In [ ]:
#store the size of the land in the variable size  in square feet 
size = 200 
#store the income as in
#in= 9000 
# cant use as it is system defined keyword should alter the keyword
in_ = 9000
#print the value of  both size and income 
print ("Size of the land in square feet: ",size,"\nIncome: ",in_)

cropName="Drumstick"
#year@2021 = 'Drumstick'
#SyntaxError: can't assign to operator '@' should not be present in a variable name
year_2021 = 'Drumstick'
print (cropName)
print (year_2021)